---
import Layout from "../layouts/Layout.astro";
import { Content as AboutContent } from "../content/about/about.md";
import { frontmatter as aboutFrontmatter } from "../content/about/about.md";
---

<Layout title="About">
  <h1>About Me</h1>
  <h2>Summary</h2>
  <AboutContent />
  <div id="grid">
    <div id="card">
      <h3>Skills</h3>
      <p>
        {aboutFrontmatter.skills.join(", ")}
      </p>
    </div>
    <div id="card">
      <h3>Education</h3>
      <p>{aboutFrontmatter.Education}</p>
    </div>
  </div>
</Layout>

<style>
  #grid {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  #card {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  h1 {
    text-align: center;
  }

  h2 {
    margin-top: 2rem;
    text-align: center;
  }
</style>
