---
import Layout from "../layouts/Layout.astro";
import Image from "astro:assets";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
---

<Layout title="Blog">
  <main>
    <h1>Blog</h1>
    <div id="posts">
      {
        allPosts.map((post) => (
          <div
            id="card"
            onclick={`location.href='/posts/${post.slug}'`}
            style="cursor: pointer;"
          >
            <img src={post.data.image.url} alt={post.data.image.alt} />
            <h2>{post.data.title}</h2>
          </div>
        ))
      }
    </div>
  </main></Layout
>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  * {
    font-family: "Shantell Sans", cursive;
  }

  #posts {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    margin: 0px 200px 0 200px;
    padding: 20px;
  }

  body {
    background: #13151a;
  }
  #card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }

  #card:hover {
    scale: 1.1;
    transition: 0.3s;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }

  h2 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
  }

  h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
  }

  main {
    background-color: black;
  }
</style>
