---
interface Props {
  title: string;
}

const { title } = Astro.props;
import config from "../config.json";
const { icon } = config;
---

<div id="header">
  <div id="logo">
    <img src={icon} alt="Google Logo" />
    <h1>{title}</h1>
    <div style="opacity: 0"></div>
  </div>

  <div id="nav">
    <ul>
      <li><a href="/"> Home</a></li>
      <li><a href="/about">About </a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
    h1 {
      color: white;
      font-family: "Shantell Sans", cursive;
    }

    #header {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px;
      display: block;
    }

    #nav {
      text-align: center;
      padding: 10px;
      display: flex;
      background-color: #444;
      margin: 0;
      padding: 10px;
      list-style-type: none;
      justify-content: center;
    }

    #nav ul {
      display: flex;
      margin: 0;
      padding: 0;
    }

    #nav a {
      text-decoration: none;
      color: white;
      padding: 10px;
    }

    #nav a:hover {
      background-color: #555;
    }

    #nav a:active {
      background-color: red;
    }

    #nav li {
      list-style-type: none;
    }

    /* positon the logo to the left and the title to the center */
    #logo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
    }

    #logo img {
      width: auto;
      max-height: 50px;
      margin-left: 10px;
    }
  </style>
</div>
