---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const allPosts = await getCollection("portfolio");
---

<div id="container">
  <h1>Projects</h1>
  <div id="projects">
    <!-- Loop through all posts -->
    {
      allPosts.map((post) => (
        <div
          id="card"
          onclick={`location.href='/portfolio/${post.id}'`}
          style="cursor: pointer;"
        >
          {!post.data.image ? (
            <Image
              src="https://via.placeholder.com/300"
              alt="Placeholder image"
            />
          ) : (
            <Image src={post.data.image.url} alt="" width={300} height={300} />
          )}
          <h2>{post.data.title}</h2>
          <p>{post.data.description}</p>
        </div>
      ))
    }
  </div>
</div>

<style>

  #container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 25px 0 25px 0;
    height: 100%;
    min-height: 100%;
    align-content: center;
    justify-content: center;
  }

  #projects {
    display: flex;
    margin: 0 100px;
  }

  #card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }

  #card:hover {
    scale: 1.1;
    transition: 0.5s ease-in-out;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }

  h2 {
    margin-top: 1rem;
    color: white;
    text-align: center;
  }

  h1 {
    color: white;
    text-align: center;
  }
</style>
