---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>Written by {frontmatter.author}</p>
  <hr />
  <div id="post-content">
    <slot />
  </div>
  <br />
</Layout>

<style>
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 75px;
    padding-bottom: 10px;
  }
  hr {
    margin: 2rem 300px;
  }

  #post-content {
    margin: 0 300px;
  }
</style>
