---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
// dd--mm--yyyy
frontmatter.pubDate = new Date(frontmatter.pubDate).toLocaleDateString(
  "en-GB",
  {
    day: "numeric",
    month: "long",
    year: "numeric",
  }
);
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>Written by {frontmatter.author}</p>
  <p>Published on {frontmatter.pubDate}</p>
  <hr />
  <div id="post-content">
    <slot />
  </div>
  <br />
</Layout>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  * {
    font-family: "Shantell Sans", cursive;
  }

  body {
    background: #13151a;
  }

  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 75px;
    padding-bottom: 10px;
  }
  hr {
    margin: 2rem 300px;
  }

  img {
    max-width: 100%;
  }
  #post-content {
    margin: 0 325px;
  }

  a {
    color: #0070f3;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
</style>
