---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>Written by {frontmatter.author}</p>
  <hr />
  <div id="post-content">
    <slot />
  </div>
  <br />
</Layout>

<style is:global>
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 75px;
    padding-bottom: 10px;
  }
  hr {
    margin: 2rem 300px;
  }

  img {
    max-width: 100%;
  }
  #post-content {
    margin: 0 325px;
  }

  a {
    color: #0070f3;
    text-decoration: none;
    border-bottom: 1px solid #0070f3;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 1px solid #0070f3;
  }

  a:visited {
    color: #0070f3;
  }
</style>
